/* THis file is applied to all pages */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Titillium+Web:wght@600;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}



:root {
  --navy: #18181E;
  --gold: #f6dc35;
  --SuperNova: #ffc500;
  --LightBlue: #1a7ebf;
  --Pom: #ef5454;
  --green:#3e9f42;
}
.MainApp{
background-image: url("/PortfolioBack.png");
background-repeat: repeat-y;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Titillium Web', serif;
}

.text-underline-hover:hover {
  color: white !important;
  background-color: white;
  border: white 1px solid;
  box-shadow: 10px 5px 5px var(--Pom);
}


.text-underline-hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  color: white !important;
  border: var(--Pom) 1px solid;
  background-image: url("/RedComic.png");
  margin: 10px;
  font-family: 'Bangers', cursive;
  font-size: 35px;
  box-shadow: 5px 2.5px 2.5px black;
  text-shadow: 1px 1px 2px black;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  
}

.text-underline-hover:hover, .text-underline-hover:focus, .text-underline-hover:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.text-underline-hover:hover::before {
  transform: scaleX(1);
}

.nav{
  background-color: none;
}

.white{
  color: white !important;
}

.gold{
  color: var(--gold) !important;
}

.dNavy{
  color: var(--navy);
}

.cardFont{
  font-size: 2rem;
}

.cardImg{
  width: 200px;
  height: 200px;
  margin: auto;
  padding: auto;
}
.skillSection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-row-gap: 3%;
  grid-column-gap: 3%;
  margin-bottom: 10%;
  margin-right: 1%;
  margin-left: 1%;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.skillCard {
  background: hsl(0, 0%, 100%);
  padding: 16px 24px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);
}

  .skillCard::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(.9) translateZ(0);
    filter: blur(50px);
    background: linear-gradient(
      to left,
      #ffE797,
      #ffE797,
      #ffE797,
      #ffE797,
      gold,
      gold,
      gold,
      white,
      white
    );
    background-size: 200% 200%;
    animation: animateGlow 2s linear infinite;
  }


@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.ProjectCard{
  margin: 10px;
  border-radius: 20px;
  padding: auto;
}

.overflow-hidden{
  overflow: hidden;
  border-radius: 20px;
  border: 1px none solid;
}
.darkBackground{
  background-color: #18181E;
}

.textCenter{
  text-align: center;
}
.paddingButton{
  padding: 10px;
}

.varButton{
  background-color: #18181E;
  color:var(--gold) !important;
  border: #18181E;
}


.galleryPhotoOne{ 
  opacity: 1;
  cursor: pointer;
  border: var(--green) 25px solid;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.galleryPhotoTwo{ 
  opacity: 1;
  cursor: pointer;
  border: var(--Pom) 25px solid;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}
.galleryPhotoThree{ 
  opacity: 1;
  cursor: pointer;
  border: var(--SuperNova) 25px solid;
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
}
.galleryPhotoFour{ 
  opacity: 1;
  cursor: pointer;
  border: var(--LightBlue) 25px solid;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.galleryPhotoFive{ 
  opacity: 1;
  cursor: pointer;
  border: black 25px solid;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  
}
.galleryPhotoOne:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoTwo:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoThree:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoFour:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoFive:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}

.galleryTitle{
padding: 0;
margin: 0;
}

