/* THis file is applied to all pages */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Titillium+Web:wght@600;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-image: url("/PortfolioBack.png");
  scroll-behavior: smooth;
}



:root {
  --navy: #18181E;
  --gold: #f6dc35;
  --SuperNova: #ffc500;
  --LightBlue: #1a7ebf;
  --Pom: #ef5454;
  --green:#3e9f42;
}
/* .MainApp{

width: 100%;
height: 100%;
background-repeat: repeat-y;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Titillium Web', serif;
}

.text-underline-hover:hover {
  color: white !important;
  background-color: white;
  border: white 1px solid;
  box-shadow: 10px 5px 5px var(--Pom);
}


.text-underline-hover {
  transition-property: transform;
  color: white !important;
  border: var(--Pom) 1px solid;
  background-image: url("/RedComic.png");
  margin: 10px;
  font-family: 'Titillium Web', serif;
  font-weight: 900;
  font-size: 35px;
  box-shadow: 5px 2.5px 2.5px black;
  text-shadow: 1px 1px 5px black;
  border:1px solid #222;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  
}

.text-underline-hover:hover, .text-underline-hover:focus, .text-underline-hover:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.text-underline-hover:hover::before {
  transform: scaleX(1);
}
.subheading {
  transition-property: transform;
  color: white !important;
  border: var(--Pom) 1px solid;
  background-image: url("/RedComic.png");
  margin: 10px;
  font-family: 'Titillium Web', serif;
  font-weight: 900;
  font-size: 35px;
  box-shadow: 5px 2.5px 2.5px black;
  text-shadow: 1px 1px 5px black;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
}


.nav{
  background-color: none;
}

.white{
  color: white !important;
}

.gold{
  color: var(--gold) !important;
}

.dNavy{
  color: var(--navy);
}

.cardFont{
  font-size: 2rem;
}

.cardImg{
  width: 200px;
  height: 200px;
  margin: auto;
  padding: auto;
}
.skillSection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-row-gap: 3%;
  grid-column-gap: 3%;
  margin-bottom: 10%;
  margin-right: 1%;
  margin-left: 1%;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.skillCard {
  background: hsl(0, 0%, 100%);
  padding: 16px 24px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);
}

  .skillCard::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(.9) translateZ(0);
    filter: blur(50px);
    background: linear-gradient(
      to left,
      #ffE797,
      #ffE797,
      #ffE797,
      #ffE797,
      gold,
      gold,
      gold,
      white,
      white
    );
    background-size: 200% 200%;
    animation: animateGlow 2s linear infinite;
  }


@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.ProjectImage{
  width: 100%;
  height: 48vh;
  
}
.ProjectCard{
  margin: 20px;
  border-radius: 20px;

  box-shadow: 5px 5px 10px black;
  border: black 5px solid;

  
}

.PhotoArea{
  height: 750px;
  overflow: hidden;
  border-radius: px;
  border: 1px none solid;
}



.overflow-hidden{
  overflow: hidden;
  border-radius: 10px;
  border: 1px none solid;
}
.darkBackground{
  background-color: #18181E;
}

.textCenter{
  text-align: center;
}
.paddingButton{
  padding: 10px;
}

.varButton{
  background-color: black;
  color:white;
  border: #18181E;
}


.galleryPhotoOne{ 
  opacity: 1;
  cursor: pointer;
  border: var(--green) 25px solid;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.galleryPhotoTwo{ 
  opacity: 1;
  cursor: pointer;
  border: var(--Pom) 25px solid;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}
.galleryPhotoThree{ 
  opacity: 1;
  cursor: pointer;
  border: var(--Pom) 25px solid;
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
}
.galleryPhotoFour{ 
  opacity: 1;
  cursor: pointer;
  border: var(--LightBlue) 25px solid;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.galleryPhotoFive{ 
  opacity: 1;
  cursor: pointer;
  border: black 25px solid;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  
}
.galleryPhotoOne:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoTwo:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoThree:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoFour:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}
.galleryPhotoFive:hover{ 
  box-shadow: 10px 5px 5px black; 
  opacity: 1;
}

.galleryTitle{
padding: 0;
margin: 0;
}

.BoldFont{
  font-family: 'Titillium Web', serif;
  font-weight: 900;
}

.StandardFont{
  font-family: 'Titillium Web', serif;
}
.Footer{
  background-image: url("/RedComic.png");
  border-top: black 25px solid;
  padding: 0;
  margin: 0;
  border-width: 3px 3px 5px 5px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 20px;

}
.ContactCard{
  margin: 10px;
  border-radius: 20px;
  padding: auto;
  border: var(--Pom) 25px solid;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  
}

.FooterLink{
  transition-property: transform;
  color: white !important;
  font-family: 'Titillium Web', serif;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  padding: auto;
  height: 60px;
}

.SkillCard{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  width: 95%;
  margin-top: 20px;
  border: #18181E solid 5px;
  border-radius: 2%;
  box-shadow: 5px 5px 10px black;

}

@media (max-width: 1000px)  {
  .SkillCard{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(7, auto);
    width: 95%;
    margin-top: 20px;
    border: #18181E solid 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 10px black;
    
  
  }
  .SkillBoxTwo {
    display: none;
  
  }
}

.SkillBoxOne {
  grid-area:1 / 1 / 2 / 6;
  height: auto;
  border: black Solid 5px;


}
.SkillBoxTwo {
  grid-area: 2 / 5 / 6 / 6;
  border: black Solid 5px;

}
.SkillBoxThree {
  grid-area: 2 / 1 / 4 / 5;
  border: black Solid 5px;
 
}
.SkillBoxFour {
  grid-area:  4 / 1 / 6 / 3; 
  border: black Solid 5px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
.SkillBoxFive {
  grid-area: 4 / 3 / 6 / 5; 
  border: black Solid 5px;
  font-size: 30px;
  
}

.SuperPowerTitle{
 grid-area: 1 / 1 / 2 / 4; 
 justify-content: center;
align-content: center;
margin: auto;
height: 10px;
font-family: 'Bangers', cursive;
}
.SuperPowerOne{
  grid-area: 2 / 1 / 3 / 2; 
  justify-content: center;
  align-content: center;
  margin: auto;
}
.SuperPowerTwo{
  grid-area: 2 / 2 / 3 / 3; 
  justify-content: center;
  align-content: center;
  margin: auto;
}
.SuperPowerThree{
  grid-area: 2 / 3 / 3 / 4; 
  justify-content: center;
  align-content: center;
  margin: auto;
}
.SuperPowerFour{
  grid-area: 3 / 1 / 4 / 2; 
  justify-content: center;
  align-content: center;
  margin: auto;
}
.SuperPowerFive{
  grid-area:3 / 2 / 4 / 3; 
  justify-content: center;
  align-content: center;
  margin: auto;
}
.SuperPowerSix{
  grid-area: 3 / 3 / 4 / 4; 
  justify-content: center;
  align-content: center;
  margin: auto;
}
.SuperPowerSeven{
  grid-area: 4 / 1 / 5 / 2;
  justify-content: center;
  align-content: center;
  margin: auto; 
}
.SuperPowerEight{
  grid-area: 4 / 2 / 5 / 3; 
  justify-content: center;
  align-content: center;
  margin: auto;
}
.SuperPowerNine{
  grid-area: 4 / 3 / 5 / 4; 
  justify-content: center;
  align-content: center;
  margin: auto;
}

.Bangers{
  font-family: 'Bangers', 'Titillium Web';
  
}
.CenterText {
  justify-content: center;
  margin: auto;
}

#projects{
  margin: auto;
  margin-bottom: 50px;
}