// Example: override to give us a salmon body background


:root {
    --navy: #18181E;
    --gold: #ffE797;
    --white: #ffffff;
    --SuperNova: #ffd20b;
    --LightBlue: #589ec3;
    --KoiGreen: #40ffbf;
    --Pom: #fb5c1f;
    --Rhino: #323e71;
    --Twilight: #ead9e5;
  }

$primary: #323e71;
$danger: #ff4136;

.navbar-toggler-icon{
    background-color: #ffE797;
}






@import "../node_modules/bootstrap/scss/bootstrap";

