// Example: override to give us a salmon body background
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Space+Mono:ital,wght@1,700&family=Titillium+Web:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

:root {
    --navy: #18181E;
    --gold: #ffE797;
    --white: #ffffff;
    --SuperNova: #ffd20b;
    --LightBlue: #589ec3;
    --KoiGreen: #40ffbf;
    --Pom: #fb5c1f;
    --Rhino: #323e71;
    --Twilight: #ead9e5;
  }

$primary: #323e71;
$danger: #ff4136;

.navbar-toggler-icon{
    background-color: #ffE797;
}






@import "../node_modules/bootstrap/scss/bootstrap";

